@font-face {
    font-family: 'Lobster';
    src: local('Lobster-Regular'),
    url(./Lobster-Regular.ttf) format('truetype');
}


.title{
    font-family: 'Lobster';
    color: red;
    font-size: 3rem;
    
}

body,html {
    
}

body{
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}

.card {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
}

.container {
    display:flex;
    justify-content:center;
    margin-top: 30vh;
}

.header { 
    display:flex;
    justify-content: center;
    gap: 20px;
    font-size: 2rem;
}



img {
    max-width: 100%;
    max-height: 100%;

}
